go 1.25.3

use (
	./Infra/AI/vLLM/vllm-operator
	./Infra/etcd
	./Languages/Golang/GORM
	./Languages/Golang/GoMock
	./Languages/Golang/PProf
	./Languages/Golang/Test
	./Languages/Golang/cobra
	./Languages/go/advanced
	./Languages/go/concurrency
	./Languages/go/framework
	./Languages/go/generic
	./Languages/go/package
	./Languages/go/string
)
